
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form >
            <div class=" row">
               
                <div class=" col-md-3 px-md-1">
                    <div class=" form-group">
                        <label> nom </label>
                        <input class=" form-control" placeholder="nom" type="text"
                        [(ngModel)]="personne.nom"  name="nom"/>
                    </div>
                </div>
                <div class=" col-md-3 px-md-1">
                    <div class=" form-group">
                        <label> prenom </label>
                        <input class=" form-control" placeholder="prenom" type="text"
                        [(ngModel)]="personne.prenom"  />
                    </div>
                </div>
                <div class=" col-md-4 pl-md-1" >
                    <div class=" form-group">
                        <label> age </label>
                        <input class=" form-control" placeholder="votre age" type="number" 
                        [(ngModel)]="personne.age" />
                    </div>
                </div>
                <div class=" col-md-4 pl-md-1" style="width: 10px">
                    <div class=" form-group">
                        <label > cin </label>
                        <input class=" form-control" placeholder="votre cin" type="number"
                        [(ngModel)]="personne.cin"  />
                    </div>
                </div>
                <div class=" col-md-4 pl-md-1" style="width: 10px;">
                    <div class=" form-group">
                        <label > date de naissance </label>
                        <input class=" form-control" placeholder="date de naissance" type="date" 
                        [(ngModel)]="personne.dateNaissance" />
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6 pr-md-1">
                    <div class=" form-group">
                        <label> Telephone personnel </label>
                        <input class=" form-control" placeholder="Telephone personnel" type="text"
                        [(ngModel)]="personne.telPersonnel"  />
                    </div>
                </div>
                <div class=" col-md-6 pl-md-1">
                    <div class=" form-group">
                        <label> Telephone Poste </label>
                        <input class=" form-control" placeholder="Telephone Poste" type="text"
                        [(ngModel)]="personne.telPoste" />
                    </div>
                </div>
            </div>
            <div class=" row">
                
                <div class=" col-md-4 pr-md-1">
                    <div class=" form-group">
                        <label> Agence  </label>
                        <input class=" form-control" placeholder="Votre Agence" type="text" 
                        [(ngModel)]="personne.agence" />
                    </div>
                </div>
            </div>
            <div class=" row">
                
                <div class=" col-md-4 pr-md-1"  style="width:150px ;padding-left: 10px; padding-right: 30px;">
                    <label> Sexe  </label>
                    <select name="dropdownOption" id="dropdownOption"
                        class='form-control  dropdown-danger dropdown-menu-right '  [(ngModel)]="personne.sexe"  required
                   
                         name="Sexe">
                        <option class="dropdown-item" value="homme">homme</option>
                        <option class="dropdown-item" value="femme">femme</option>

                    </select>
                </div>
                
                <!-- <div class=" col-md-4 pr-md-1"  style="width:150px;padding-left:10px; padding-right:30px;">
                    <label> Role  </label>
                    <select name="dropdownOption" id="dropdownOption"
                        class='form-control  dropdown-danger dropdown-menu-right ' [(ngModel)]="personne.role"  required
                   
                         name="Role">
                        <option class="dropdown-item" value="RH">RH</option>
                        <option class="dropdown-item" value="personnel">personnel</option>

                    </select>
                </div>                                -->
            </div>
           
        </form>
        </div>
        <div class=" card-footer">
          <button style="background:linear-gradient(rgb(250, 107, 25), rgb(233, 98, 30)) ;" class=" btn btn-fill btn-danger" type="submit" (click)="addPersonne(personne)">Save</button>
      </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <!-- Add a file input field for selecting a profile picture -->
            <!-- <input type="file" (change)="onFileSelected($event)">
            <button (click)="uploadProfilePic()">Upload</button> -->
            <a href="javascript:void(0)" >
              <!-- <img alt="..." class=" avatar" [src]="personne.profilePic" /> -->
              <!-- <a alt="..." class=" avatar" (click)="uploadProfilePic()"  >{{personne.profilePic}}</a> -->
              <div >
                <!-- <ng-container *ngIf="!personne.profilePicUrl">
                  <img alt="Default Profile Picture" src="assets/img/profile.png" class="avatar" (click)="fileInput.click()" />
                </ng-container> -->
                <ng-container *ngIf="personne.profilePicUrl">
                  <img  [src]="personne.profilePicUrl"  class="avatar"  />
                </ng-container>
                <input type="file" #fileInput style="display:none" (click)="onSubmit()" (change)="onFileSelected($event)"   >
                
              </div>
              
              <h5 class=" title">Oumayma sghari</h5>
            </a>
            <p class=" description"></p>
          </div>
          <div class=" card-description">
           
          </div>
        </div>
        <div class=" card-footer">
          <!-- <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
