<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="create-post">
                <form>
                    <input type="hidden" name="userId" value="{{ currentUser.id }}">
                    <div class="create-post-container">
                        <!-- <img class="profile-pic" src="{{currentUser.profilePic}}" alt="Profile Picture"> -->
                        <h3 class="create-post-user">{{currentUser.username}}</h3>
                    </div>
                    <div class=" row">

                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> heure de depart </label>
                                <input class=" form-control" placeholder="heure de depart" type="text"
                                    [(ngModel)]="covoiturage.heureDepart" name="nom" />
                            </div>
                        </div>
                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> depart </label>
                                <input class=" form-control" placeholder="depart" type="text"
                                    [(ngModel)]="covoiturage.depart" />
                            </div>
                        </div>
                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> arrive </label>
                                <input class=" form-control" placeholder="arrive" type="text"
                                    [(ngModel)]="covoiturage.arrivee" />
                            </div>
                        </div>

                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> date depart </label>
                                <input class=" form-control" placeholder="date depart " type="date"
                                    [(ngModel)]="covoiturage.datedepart" />
                            </div>
                        </div>
                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> nombre personne </label>
                                <input class=" form-control" placeholder="nombre personne" type="number"
                                    [(ngModel)]="covoiturage.nbPersonne" />
                            </div>
                        </div>
                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> prix par personne </label>
                                <input class=" form-control" placeholder="prix par personne " type="number"
                                    [(ngModel)]="covoiturage.prix" />
                            </div>
                        </div>
                        <div class=" col-md-3 px-md-1">
                            <div class=" form-group">
                                <label> numero a contacter </label>
                                <input class=" form-control" placeholder="numero a contacter" type="text"
                                    [(ngModel)]="covoiturage.contactNumber" />
                            </div>
                        </div>
                        <button style="background: none;  border: none; cursor: pointer;  font-size: 16px;  color: #ffffff;
                        margin-left: 10px;" (click)="addcov(covoiturage)">Post</button>
                    </div>
                </form>
            </div>


            <!-- <div *ngFor="let covoiturage of listPostsCov"> -->
                <div class=" card post" *ngFor="let covoiturage of listPostsCov">

                    <div class="post-header">
                        <!-- <img [src]="post.user.profilePic" class="profile-pic"> -->
                        <h3>{{ covoiturage.user.username }}</h3>
                        <p>{{ covoiturage.datePost | date: 'medium' }}</p>
                    </div>
                    <div class="post-content">
                        <p>bonjour ,
                            <br> je vous propose covoiturage de {{ covoiturage.depart }} vers {{ covoiturage.arrivee }}
                            a
                            {{ covoiturage.heureDepart }} ,le {{ covoiturage.dateDepart }} pour {{
                            covoiturage.nbPersonne }} a
                            {{ covoiturage.prix }} dt par personne , pour la confirmation veuillez me contacter sur {{
                            covoiturage.contactNumber }}
                        </p>
                    </div>

                    <div class="post-reactions">
                       
                        <div class="reactions">
                            <button (click)="addReaction(covoiturage.id,'😀')"> <span class="emoji">😀</span> {{
                                covoiturage.likeCount }}</button>
                            <button (click)="addReaction(covoiturage.id,'😍')"><span class="emoji">😍</span> {{
                                covoiturage.loveCount }}</button>
                            <button (click)="addReaction(covoiturage.id,'👍')"><span class="emoji">👍</span> {{
                                covoiturage.thumbsUpCount }}</button>
                            <button (click)="addReaction(covoiturage.id,'👎')"><span class="emoji">👎</span> {{
                                covoiturage.thumbsDownCount }}</button>
                            <button (click)="addReaction(covoiturage.id,'🎉')"><span class="emoji">🎉</span> {{
                                covoiturage.celebrationCount }}</button>
                        </div>


                    </div>


                    <div class="post-comments">
                        <div *ngFor="let comment of covoiturage.postComments ; let i = index" class="comment comment-separator">
                            <!-- <img [src]="comment.user.profilePic" class="profile-pic"> -->
                            <div class="comment-content">
                                <h4>{{comment.comment_author }}</h4>
                                <p style="float: right;">{{ comment.comment_date | date: 'medium' }}</p>
                                <h5>{{ comment.comment_text }}</h5>
                            </div>
                            <hr>
                        </div>

                    </div>
                    <div class="post-add-comment" style="display: inline;">
                 
                            <input class=" form-control" type="text" [(ngModel)]="newCommentText[covoiturage.id]"
                             placeholder="Add a comment..." style="display: inline;">
                            <button style="background-color: transparent;  border: none; cursor: pointer;  font-size: 16px;  color: #ffffff;
                            display: inline;" (click)="addComment(covoiturage.id,newCommentText[covoiturage.id])" type="submit">Post</button>
               

                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>

</div>