.card-tasks {
  height: 473px;

  .table-full-width {
    max-height: 410px;
    position: relative;
  }

  .card-header {
    .title {
      margin-right: 20px;
      font-weight: $font-weight-normal;
    }

    .dropdown {
      float: right;
      color: darken(rgba(34,42,66,0.7), 20%);
    }
  }

  .card-body {
    i {
      color: $dark-gray;
      font-size: 1.4em;
      &:hover {
        color:  rgba(34,42,66,0.7);
      }
    }
  }
}
